{% extends "LtcConfigBundle:Admin:form.html.twig" %}

{% block form_fields %}
<div>
    {{ form_label(form.story, "Actu") }}
    {{ form_errors(form.story) }}
    {{ form_field(form.story) }}
</div>
{% endblock %}
