{% extends "LtcAdminBundle::layout.html.twig" %}

{% block menu %}config{% endblock %}

{% block content %}
<h1>Configuration</h1>
<table>
    <tbody>
    {% for config in configs %}
        <tr>
            <td><a href="{{ path("ltc_config_admin_edit", {"name": config.name}) }}">{{ config.title }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
