<?xml version="1.0" encoding="UTF-8" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <service id="ltc_config.manager" class="Ltc\ConfigBundle\ConfigManager" public="true">
            <argument /> <!-- configs -->
        </service>

        <service id="ltc_config.config" class="Ltc\ConfigBundle\Config" public="false" abstract="true">
            <argument /> <!-- repository -->
            <argument /> <!-- formType -->
            <argument /> <!-- route -->
            <argument /> <!-- title -->
        </service>

        <service
            id="ltc_config.repository"
            class="Doctrine\ODM\MongoDB\DocumentRepository"
            factory-service="doctrine.odm.mongodb.document_manager"
            factory-method="getRepository"
            public="false"
            abstract="true">
            <argument /> <!-- model class -->
        </service>

        <service id="ltc_config.form_type.author" class="Ltc\ConfigBundle\Form\AuthorType" public="false" />
        <service id="ltc_config.form_type.photo" class="Ltc\ConfigBundle\Form\PhotoType" public="false" />
        <service id="ltc_config.form_type.featured_story" class="Ltc\ConfigBundle\Form\FeaturedStoryType" public="false" />
        <service id="ltc_config.form_type.featured_article" class="Ltc\ConfigBundle\Form\FeaturedArticleType" public="false" />
    </services>

</container>
