{% extends "::base.html.twig" %}

{% block meta_title %}{{ category.title }}{% endblock %}

{% block content %}
<div class="row">
    {% include "LtcDocBundle:Doc:hiddenList.html.twig" with {"docs": allDocs} %}
    <div class="eightcol doc_list last">
        <h1 class="title big">{{ category.title }}</h1>
        {% include "LtcDocBundle:Doc:paginatedList.html.twig" with {"docs": docs, "url": path("ltc_article_category_view", {"slug": category.slug})} %}
    </div>
</div>
{% endblock %}
