[submodule "vendor/symfony"]
	path = vendor/symfony
	url = git://github.com/symfony/symfony.git
[submodule "vendor/doctrine-mongodb-odm"]
	path = vendor/doctrine-mongodb-odm
	url = git://github.com/ornicar/doctrine-mongodb-odm.git
[submodule "vendor/doctrine-mongodb"]
	path = vendor/doctrine-mongodb
	url = git://github.com/doctrine/doctrine-mongodb.git
[submodule "vendor/doctrine-common"]
    path = vendor/doctrine-common
    url = git://github.com/doctrine/doctrine-common.git
[submodule "vendor/zend"]
	path = vendor/zend
	url = git://github.com/zendframework/zf2.git
[submodule "vendor/assetic"]
    path = vendor/assetic
    url = git://github.com/kriswallsmith/assetic.git
[submodule "vendor/twig"]
	path = vendor/twig
	url = git://github.com/fabpot/Twig.git
[submodule "vendor/doctrine-data-fixtures"]
	path = vendor/doctrine-data-fixtures
	url = git://github.com/ornicar/data-fixtures.git
[submodule "vendor/doctrine-extensions"]
	path = vendor/doctrine-extensions
	url = git://github.com/l3pp4rd/DoctrineExtensions.git
[submodule "src/Stof/DoctrineExtensionsBundle"]
	path = src/Stof/DoctrineExtensionsBundle
	url = git://github.com/stof/DoctrineExtensionsBundle.git
[submodule "src/Bundle/ApcBundle"]
	path = src/Bundle/ApcBundle
	url = git://github.com/ornicar/ApcBundle.git
[submodule "src/Knplabs/Bundle/MenuBundle"]
	path = src/Knplabs/Bundle/MenuBundle
	url = git://github.com/knplabs/MenuBundle.git
[submodule "src/FOS/UserBundle"]
    path = src/FOS/UserBundle
    url = git://github.com/FriendsOfSymfony/UserBundle.git
[submodule "src/FOS/CommentBundle"]
    path = src/FOS/CommentBundle
    url = git://github.com/FriendsOfSymfony/CommentBundle.git
[submodule "src/FOQ/TyperBundle"]
	path = src/FOQ/TyperBundle
	url = git://github.com/ornicar/TyperBundle
[submodule "vendor/imagine"]
	path = vendor/imagine
	url = git://github.com/avalanche123/Imagine.git
[submodule "src/Avalanche/Bundle/ImagineBundle"]
	path = src/Avalanche/Bundle/ImagineBundle
	url = git://github.com/avalanche123/AvalancheImagineBundle.git
[submodule "src/Bundle/ZendCacheBundle"]
	path = src/Bundle/ZendCacheBundle
	url = git://github.com/knplabs/ZendCacheBundle
[submodule "src/Knplabs/Bundle/MarkdownBundle"]
	path = src/Knplabs/Bundle/MarkdownBundle
	url = git://github.com/knplabs/MarkdownBundle.git
[submodule "src/JMS/DebuggingBundle"]
	path = src/JMS/DebuggingBundle
	url = git://github.com/schmittjoh/DebuggingBundle.git
[submodule "vendor/twig-extensions"]
	path = vendor/twig-extensions
	url = git://github.com/fabpot/Twig-extensions.git
[submodule "vendor/monolog"]
	path = vendor/monolog
	url = git://github.com/Seldaek/monolog.git
[submodule "src/FOQ/ElasticaBundle"]
	path = src/FOQ/ElasticaBundle
	url = git://github.com/Exercise/ElasticaBundle
[submodule "vendor/elastica"]
	path = vendor/elastica
	url = git://github.com/ruflin/Elastica
