body {
    background-color: #fff;
    color: #222;
    border-top: 3px solid #991010;
    font: 100%/1.45 Helvetica, Arial, Verdana, sans-serif;
    font: 100%/1.45 Georgia, Serif;
    margin: 0;
    padding: 0;
}
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix {display:inline-block;}
a {
    text-decoration: none;
    color: #803000;
}
a:hover {
    text-decoration: underline;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
h2 {
    font-weight: bold;
}
h2 a {
    color: #222;
}
a.more {
    text-decoration: underline;
}
.title {
    font: 1.6em "OFL Sorts Mill Goudy","Palatino","Georgia",serif;
    color: #991010;
    line-height: 2;
}
.title a {
    color: #991010;
}
.title.big {
    font-size: 2.2em;
}
.title.long {
    line-height: 1.2;
}
.title.shy {
    font-size: 1.4em;
    color: #444;
    line-height: 1.5;
}

.metadata, .undertitle {
    font-size: 80%;
    color: #a0a0a0;
    font-style: italic;
}
.small {
    font-size: 90%;
}
.soft, .title a.soft {
    color: #666;
}
.overflowed {
    overflow: hidden;
}
.all_others {
    display: block;
    text-align: right;
    color: #888;
}
.nice_list li {
    color: #aaa;
    list-style: disc outside;
    margin-left: 1.5em;
}
.author_image {
    float: left;
    margin-right: 2em;
}
#main form.search input.query {
    width: 70%;
    font-size: 1.5em;
    padding: 0.2em 0.3em;
}
#main form.search input.submit {
    font-size: 1.5em;
    padding: 0.2em 0.3em;
}
