<article class="story_preview">
    <header class="clearfix">
        <h2>{{ story.title }}</h2>
        <p class="metadata">{{ story.publishedAt|ltc_date }}</p>
    </header>
    <div>{{ story.body|markdown }}</div>
</article>
