{% extends 'form_div_layout.html.twig' %}

{% block field_row %}
{% spaceless %}
    <div class="clearfix">
        {{ form_label(form, label|default(null)) }}
        <div class="input">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock field_row %}
