{% extends "::root.html.twig" %}

{% block stylesheets %}
    {% stylesheets
        '@LtcCoreBundle/Resources/css/reset.css'
        '@LtcCoreBundle/Resources/css/font.css'
        '@LtcCoreBundle/Resources/css/grid.css'
        '@LtcCoreBundle/Resources/css/core.css'
        '@LtcCoreBundle/Resources/css/markdown.css'
        '@LtcCoreBundle/Resources/css/header.css'
        '@LtcCoreBundle/Resources/css/footer.css'
        '@LtcCoreBundle/Resources/css/home.css'
        '@LtcDocBundle/Resources/css/doc.css'
        '@LtcTagBundle/Resources/css/tag.css'
        '@LtcCommentBundle/Resources/css/comment.css'
        filter="yui_css" %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

{% include "::header.html.twig" %}

<div id="main" role="main">
    {% block content %}{% endblock %}
</div>

{% include "::footer.html.twig" %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">var ltc_config = {{ ltc_js_config()|json_encode|raw }};</script>
    {% javascripts
        '@LtcCoreBundle/Resources/vendor/jquery.min.js'
        '@LtcCoreBundle/Resources/vendor/jquery.infinitescroll.js'
        '@LtcCoreBundle/Resources/vendor/jquery.hint.js'
        '@LtcCoreBundle/Resources/js/front.js'
        filter="?yui_js" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
<!-- <script>
    var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
        g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
        s.parentNode.insertBefore(g,s)}(document,"script"));
    </script> -->
{% endblock %}
