<footer id="footer">
    <div class="row">
        <div class="fourcol search">
            <p class="title">Rechercher</p>
            {% include "LtcCoreBundle:Search:form.html.twig" %}
        </div>

        {% include "::menu.html.twig" with {"lastcol": "sixcol"} %}
    </div>
    <div class="row">
        <span class="js_email"></span>
        <div class="right">Les Trois Couronnes - &copy; 2011 Pascal Duplessis</div>
    </div>
</footer>
