<footer id="footer">
    <div class="row">
        <div class="fourcol search">
            <form action="#">
                <label class="title">Rechercher</label>
                <input name="q" />
                <input type="submit" value="Rechercher" />
            </form>
        </div>

        {% include "::menu.html.twig" with {"lastcol": "sixcol"} %}
    </div>
    <div class="row">
        <span class="js_email"></span>
        <div class="right">Les Trois Couronnes - &copy; 2011 Pascal Duplessis</div>
    </div>
</footer>
