<header id="header" class="row clearfix">
<a class="rss_link" href="{{ path("ltc_feed") }}"><img src="{{ asset("bundles/ltccore/img/rss_icon.jpg") }}" alt="Flux RSS" /></a>
<div class="sixcol">
    <h1><a href="{{ path("homepage") }}">Les Trois Couronnes</a></h1>
    <span class="baseline">Didactique de l'information-documentation et identité professionnelle de l'enseignant documentaliste. Publications de Pascal Duplessis</span>
</div>

{% include "::menu.html.twig" with {"lastcol": "fourcol"} %}

</header>
