<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{% block meta_title %}{% endblock %}{% block meta_title_separator %} - {% endblock %}Les Trois Couronnes - Didactique de l'Information Documentation - Pascal Duplessis</title>
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="author" content="Pascal Duplessis">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
        {% endblock %}
        <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Atom 1.0" />
    </head>

    <body class="{{ block("body_class") }}">
        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
