/*** Reset ***/
html, body, div, span, h1, h2, p, a, form, label, table, tbody,
tfoot, thead, tr, th, td, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;

}
body {
    line-height: 1;
    background: #FFF;
    color: #333;
    font: 13px/1.5 Arial, sans-serif
}
a {
    color: #2A5DB0
}

/*** Page ***/
#page {
    margin: 0 auto
}
#header li, .pagination li, #footer li {
    display: inline;
    list-style: none;
    margin-left: 0;
}

/*** Header ***/
#header {
    background-color: #0075CE;
    overflow: hidden;
    padding: 5px 0 0 0
}
#header #title_and_user_links {
    overflow: hidden;
    margin: 0 auto;
    width: 960px
}
#title_and_user_links h1 {
    float: left;
    margin: 0 10px;
    color: #FFF;
    font-size: 25px;
    width: 700px
}
#title_and_user_links ul {
    float: right;
}
#title_and_user_links li {
    margin-left: 1em;
}
#title_and_user_links a {
    color: #FFF;
    text-decoration: none
}
#title_and_user_links li.username {
    color: #fff;
    font-weight: bold;
}
#main_nav, #sub_nav {
    margin: 0 auto;
    width: 940px
}
#main_nav a {
    background-color: #5AA7DE;
    color: #FFF;
    padding: 2px 0.5em;
    text-decoration: none
}
#main_nav a.active {
    background-color: #BDDFF7;
    color: #000
}
#header #sub_nav {
    height: 20px;
    background-color: #BDDFF7;
    padding: 10px 10px 0;
    width: 940px
}
#sub_nav a {
    padding: 3px 0.5em;
    text-decoration: none
}
#sub_nav a.active {
    background-color: #FFF
}

/*** Content ***/
#content {
    margin: 10px auto;
    overflow: hidden;
    width: 960px
}
#login_page #content {
    width: 400px
}
h1 {
    font-size: 23px;
    margin: 10px 0
}
h2 {
    font-size: 23px;
    margin: 10px 0
}
h3 {
    font-size: 16px;
    margin: 5px 0 0
}
#main {
    float: left;
    width: 700px
}
#sidebar {
    float: left;
    margin-left: 20px;
    width: 240px
}
#sidebar h3 {
    background-color: #BDDFF7;
    padding: 5px
}
#sidebar p, #sidebar form {
    background-color: #E7F1F7;
    padding: 5px
}
#sidebar ul.navigation {
    list-style-type:none;
    margin:0 0 20px;
    padding:0
}
#sidebar a {
    background-color: #E7F1F7;
    border-bottom: 1px solid #BDE0F7;
    text-decoration: none;
    display: block;
    padding: 3px 5px
}
#sidebar a.active {
    background-color: #CDEBF7;
    font-weight: 700
}

/*** Text ***/
p, form {
    margin-bottom: 20px
}

/*** Table ***/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 10px;
    width: 100%
}
thead, tfoot {
    background-color: #DEDEDE;
    border: 1px solid #BBB
}
td, th {
    padding: 2px 10px;
    text-align: left
}
tfoot td {
    font-weight: 400
}
tbody td {
    border-bottom: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD
}
.last_row td {
    background-color: #F7F7F7;
    border-bottom: 1px solid #BBB;
    font-weight: 700
}
tbody td.numeric {
    text-align: right
}
.pagination {
    margin-bottom: 10px;
    text-align: right
}
.pagination li.disabled {
    color: #BBB
}

/*** Messages ***/
.message {
    padding: 5px;
    text-align: center;
    margin-bottom: 10px
}
.error.message {
    background-color: #FBE3E4;
    border: 1px solid #FBC2C4;
    color: #D12F19
}
.warning.message {
    background-color: #FFFF99;
    border: 1px solid #FFFF33;
}
.notification.message {
    background-color: #B5FFB1;
    border: 1px solid #87FF69;
}

/*** Form ***/
form label {
    display: block;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 2px
}
form label .error {
    color: red;
    font-size: 13px;
    font-weight: 400
}
form label.inline {
    display: inline;
    font-size: inherit;
    font-weight: 400
}
form input, form textarea, form select {
    font-size: 13px
}
form .description {
    color: #777
}
form div {
    margin-bottom: 10px
}
form button.submit {
    font-size: 13px;
    padding: 3px 0.5em;
    margin:10px 15px 0 0
}
form .column {
    display: inline;
    float: left;
    width: 470px
}
#main form .column {
    width: 329px
}
#main form .column.left {
    margin-right: 10px
}
#main form .column.right {
    margin-left: 10px
}
#sidebar label, #sidebar input, #sidebar select {
    font-size: 100%;
    font-weight: 400
}

/*** Footer ***/
#footer {
    background-color: #E6EFFF;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center
}

