<?xml version="1.0" encoding="UTF-8" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <service id="ltc_doc.twig.extension" class="Ltc\DocBundle\Twig\DocExtension" public="false">
            <tag name="twig.extension" />
            <argument type="service" id="ltc_core.twig.extension.core" />
        </service>
        <service id="ltc_doc.security" class="Ltc\DocBundle\Security">
            <argument type="service" id="security.context" />
        </service>
    </services>

</container>
