{% extends "LtcCore:Layout:root.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("bundles/ltccore/css/style.css") }}">
{% endblock %}

{% block javascripts %}
{{ parent() }}
<!-- <script>
    var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
        g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
        s.parentNode.insertBefore(g,s)}(document,"script"));
    </script> -->
{% endblock %}

{% block body %}
<div id="container">
    <header>

    </header>
    <div id="main" role="main">
        {% block content %}{% endblock %}
    </div>
    <footer>

    </footer>
</div>
{% endblock %}
