<header id="header" class="row">

<div class="sixcol">
    <h1><a href="{{ path("homepage") }}">Les Trois Couronnes</a></h1>
    <span class="baseline">Publications de Pascal Duplessis</span>
</div>

{% include "LtcCore:Layout:menu.html.twig" %}

</header>
