<div class="twocol">
    <ul class="menu">
        <li><a href="#">Blog</a></li>
        <li><a href="{{ path("ltc_tag_cloud") }}">Tags</a></li>
        <li><a href="#">Auteur</a></li>
        <li><a href="#">Plan du site</a></li>
        <li><a href="#">Archives</a></li>
        <li><a href="#">Liens</a></li>
    </ul>
</div>

<div class="threecol last">
    <ul class="menu">
        {% for slug, title in ltc_article_categories_infos() %}
        <li><a href="#{{ slug }}">{{ title }}</a></li>
        {% endfor %}
    </ul>
</div>
