<html lang="fr">
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{% block meta_title %}Les Trois Couronnes - Didactique de l'Information Documentation{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="author" content="Pascal Duplessis">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block stylesheets %}
        {% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
        <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.js"></script>!-->
        <script src="{{ asset("bundles/ltccore/vendor/jquery.min.js") }}"></script>
        {% endblock %}
    </body>
</html>
