<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{% block meta_title %}{% endblock %}{% block meta_title_separator %} - {% endblock %}Les Trois Couronnes - Didactique de l'Information Documentation</title>
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="author" content="Pascal Duplessis">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
        {% endblock %}
    </head>

    <body>
        <div id="screen" class="container">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
        <script type="text/javascript">
            var ltc_config = {{ ltc_js_config()|json_encode|raw }};
        </script>
        <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.js"></script>!-->
        <script src="{{ asset("bundles/ltccore/vendor/jquery.min.js") }}"></script>
        {% endblock %}
    </body>
</html>
