{% extends "LtcArticle:ArticleAdmin:form.html.twig" %}

{% block title %}Modifier l'article{% endblock %}
{% block action %}{{ path("ltc_article_admin_article_edit", {"categorySlug": doc.category.slug, "slug": doc.slug}) }}{% endblock %}
{% block form_actions %}
{{ parent() }}
ou <a href="{{ path("ltc_article_article_view", {"categorySlug": doc.category.slug, "slug": doc.slug}) }}">Voir sur le site</a>
{% endblock %}
