{% extends "LtcDoc:Admin:list.html.twig" %}

{% block new_link %}
<a href="{{ path("ltc_article_admin_article_new", {"categorySlug": category.slug}) }}">Nouvel article</a>
{% endblock %}

{% block title %}
{{ docs|length }} Articles
{% endblock %}

{% block edit_url %}
{{ path("ltc_article_admin_article_edit", {"categorySlug": doc.category.slug, "slug": doc.slug}) }}
{% endblock %}
