<?xml version="1.0" encoding="UTF-8" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>

        <service id="ltc_image.form_type.ltc_image" class="Ltc\ImageBundle\Form\LtcImageFormType">
            <argument type="service" id="ltc_file.uploader" />
            <argument type="service" id="knplabs_gaufrette.filesystem_map" />
            <tag name="form.type" alias="ltc_image" />
        </service>

    </services>

</container>
