{% extends "::base.html.twig" %}

{% block meta_title %}{{ tag.title|capitalize }}{% endblock %}

{% block content %}
<div class="row">
    <div class="fourcol doc_metas">
        <div class="meta_block">
            <a href="{{ path("ltc_tag_cloud") }}">&lt; Retourner au nuage de tags</a>
        </div>
    </div>
    <article class="eightcol last doc_list">
        <header>
            <h1 class="title long">Tag : {{ tag.title }}</h1>
            <p class="undertitle">{{ docs|length }} documents sont liés à ce tag</p>
        </header>
        {% include "LtcDocBundle:Doc:list.html.twig" with {"docs": docs} %}
    </article>
</div>
{% endblock %}
