{% extends "::base.html.twig" %}

{% block meta_title %}Table Ronde, page {{ docs.currentPage }}{% endblock %}

{% block content %}
<div class="row">
    {% include "LtcDocBundle:Doc:hiddenList.html.twig" with {"docs": allDocs} %}
    <article class="eightcol last doc_list">
        <header>
            <h1 class="title big">Table ronde</h1>
        </header>
        {% include "LtcDocBundle:Doc:paginatedList.html.twig" with {"docs": docs, "url": path("ltc_blog_entry_index")} %}
    </article>
</div>
{% endblock %}
