{% extends "::base.html.twig" %}

{% block meta_title %}Table Ronde{% endblock %}

{% block content %}
<div class="row">
    <div class="fourcol blockcol">
    </div>
    <article class="eightcol last doc_list">
        <header>
            <h1 class="title big">Table ronde</h1>
        </header>
        {% include "LtcDocBundle:Doc:list.html.twig" with {"docs": docs} %}
    </article>
</div>
{% endblock %}
