{% extends "LtcDoc:Doc:view.html.twig" %}

{% block doc_metas %}
<div class="meta_block">
    <a href="{{ path("ltc_blog_entry_index") }}">
        &lt; Retour à la table ronde
    </a>
</div>
{{ parent() }}
{% endblock %}

{% block admin_url %}{{ path("ltc_blog_admin_entry_edit", {"slug": doc.slug}) }}{% endblock %}
