{# reorder for 2-columns display #}
{% set categories = [
    categories[0],
    categories[2],
    categories[1],
    categories[3]
] %}

<div class="fourcol category_column">
{% for category in categories %}
    {% set url = path("ltc_article_category_view", {"slug": category["category"].slug}) %}
    <div>
        <h2 class="title"><a href="{{ url }}">{{ category["category"].title }}</a></h2>
        {% include "LtcArticleBundle:Article:smallList.html.twig" with {"docs": category["articles"] } %}
        <a class="all_others" href="{{ url }}">&gt; autres articles</a>
    </div>
    {% if loop.index == 2 %}
    </div><div class="fourcol category_column">
    {% endif %}
{% endfor %}
</div>
