{% extends "LtcDocBundle:Admin:list.html.twig" %}

{% block menu %}blog{% endblock %}

{% block well %}
<a class="btn primary" href="{{ path("ltc_blog_admin_entry_new") }}">Nouveau billet</a>
{% endblock %}

{% block title %}
Table Ronde
{% endblock %}

{% block subtitle %}
{{ objects|length }} billets
{% endblock %}

{% block edit_url %}
{{ path("ltc_blog_admin_entry_edit", {"slug": object.slug}) }}
{% endblock %}
