{% extends "LtcDoc:Admin:list.html.twig" %}

{% block new_link %}
<a href="{{ path("ltc_blog_admin_entry_new") }}">Nouveau billet</a>
{% endblock %}

{% block title %}
{{ docs|length }} Billets
{% endblock %}

{% block edit_url %}
{{ path("ltc_blog_admin_entry_edit", {"slug": doc.slug}) }}
{% endblock %}
