<?xml version="1.0" encoding="UTF-8" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="document_root">%kernel.root_dir%/../web</parameter>
    </parameters>

    <services>
        <service id="ltc_core.tag_wizard" class="Ltc\CoreBundle\TagWizard" public="true">
            <argument type="service" id="ltc_tag.repository.tag" />
            <argument type="service" id="ltc_article.repository.article" />
            <argument type="service" id="ltc_blog.repository.blog_entry" />
        </service>
        <service id="ltc_core.doc_provider" class="Ltc\CoreBundle\DocProvider" public="true">
            <argument type="service" id="ltc_blog.repository.blog_entry" />
            <argument type="service" id="ltc_article.repository.article" />
            <argument type="service" id="ltc_article.repository.category" />
        </service>
        <service id="ltc_core.paginator_factory" class="Ltc\CoreBundle\PaginatorFactory" public="true">
            <argument type="collection" /> <!-- options -->
        </service>
    </services>

</container>
