{% extends "::base.html.twig" %}

{% block meta_title %}Erreur{% endblock %}

{% block content %}

<div class="row archive">
    <h1 class="title big">Une erreur est survenue</h1>
    <p>Quelque chose ne tourne pas rond. Notre equipe de maintenance est sur le pied de guerre.</p>
</div>

{% endblock %}
