{% extends "::base.html.twig" %}

{% block meta_title %}Page introuvable{% endblock %}

{% block content %}

<div class="row archive">
    <h1 class="title big">Page introuvable</h1>
    <p>Cette page n'existe pas, ou a été déplacée.</p>
</div>

{% endblock %}
