<div class="fourcol hidden_list nice_list">
    <div class="hidden_list_container">
        <a class="trigger">Sommaire</a>
        {% include "LtcDocBundle:Doc:linkList.html.twig" with {"docs": docs} %}
    </div>
</div>
