<ul class="doc_small_list">
    {% for doc in docs %}
    <li>
        <a href="#">{{ doc.shortTitle }}</a>
        <p class="metadata">{{ ltc_doc_publication_date_and_author(doc) }}</p>
    </li>
    {% endfor %}
</ul>
