{% extends "LtcCoreBundle:Layout:base.html.twig" %}

{% block meta_title %}Archives{% endblock %}

{% block content %}

<div class="row archive">
    <h1 class="title big">Archives</h1>
    <div class="archive_category nice_list">
        <h2 class="title"><a href="{{ path("ltc_blog_entry_index") }}">Table ronde</a></h2>
        {% include "LtcDocBundle:Doc:linkList.html.twig" with {"docs": blogEntries} %}
    </div>
    {% for category in categories %}
    <div class="archive_category nice_list">
        <h2 class="title"><a href="{{ path("ltc_article_category_view", {"slug": category["category"].slug}) }}">{{ category["category"].title }}</a></h2>
        {% include "LtcDocBundle:Doc:linkList.html.twig" with {"docs": category["articles"]} %}
    </div>
    {% endfor %}
</div>

{% endblock %}
