<?xml version="1.0" encoding="UTF-8" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>

        <service id="ltc_admin.menu.main" class="Ltc\AdminBundle\Menu\MainMenu" scope="request">
            <tag name="menu" alias="ltc.admin.main" />
            <argument type="service" id="request" />
            <argument type="service" id="router" />
            <argument type="service" id="ltc_article.repository.category" />
        </service>

    </services>

</container>
